<div class="stats">
<h1><%= link_to "Number of Products: #{@productCount}", [:admin, :products], class: "nav-link" %></h1>
<h1><%= link_to "Number of Categories: #{@categoryCount}", [:admin, :products], class: "nav-link" %></h1>
</div>