// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.signup {
  display: flex;
  flex-direction: column;
  ul {
    list-style-type: none;
  }
  li {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 10px;
  }
}